*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.container {
	max-width: 950px;
    margin: 0 auto;
}
@media (max-width : 980px)  {
	.container {
		padding: 0 15px;
	}	
}
.wrapper {
    overflow: hidden;
    min-height: 100%;
}
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;   
}
.header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
}
.header__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.header__logo {
    background-color: rgb(250, 92, 101);
    min-width: 140px;
    height: 75px;
    color: white;
    font-family:  "Domine-Bold", serif;
    font-size: 20px;
    font-weight: bold; 
    border-radius: 0 0 7px 7px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
} 
@media (max-width : 533px)  {
	.header__logo {
		position: absolute;
		top: 0;
		left: 15px;
	}	
}
.dotLogo:after {
    content: ".";
    color: #74505e;
}

/*MENU*/

.header__right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media (max-width : 533px)  {
	.header__right {
		flex-wrap: wrap;
		justify-content: flex-end;
		padding-left: 130px;
		padding-top: 10px;
	}	
}
.header__social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 30px;
}
@media (max-width : 768px)  {
	.header__social {
		margin-left: 15px;
	}	
}
nav {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 14px;  
}
nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    list-style: none;
}
@media (max-width : 533px)  {
	nav ul {
		flex-wrap: wrap;
		justify-content: flex-end;
	}	
}
nav ul li {
	margin-left: 30px;
}
@media (max-width : 768px)  {
	nav ul li {
		margin-left: 10px;
	}
}
@media (max-width : 533px)  {
	nav ul li {
		margin-bottom: 5px;
	}	
}
nav ul li a:link, nav ul li a:visited {
    color: rgb(38, 55, 66);
    line-height: 6px;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul li a:hover {
    color: #fa5c65;
}
.header__icon i {
	font-size: 22px;
	color: #fa5c65;
	margin-left: 20px;	
}
@media (max-width : 768px)  {
	.header__icon i {
		margin-left: 10px;
	}	
}
.header__icon i:hover {
	color: #314a5b;
}

/*Main Screen*/

.mainScreen {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
	background-color: aquamarine;
	background-image: url("image/fotoHeader.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.main-screen__content {
	margin-top: 27vw;
	max-width: 600px;
}
@media (max-width : 768px)  {
	.main-screen__content {
		max-width: 100%;
		margin-top: 120px;
	}	
}
.main-screen__title {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 48px;
	line-height: 53px;
    text-transform: uppercase;
    color: #314a5b;
	margin-bottom: 10px;
}
@media (max-width : 768px)  {
	.main-screen__title {
		font-size: 36px;
	}	
}
.main-screen__text {
	font-family: "OpenSans-Regular", sans-serif;
    font-size: 20px;
    line-height: 40px;
	color: #314a5b;
	margin-bottom: 30px;
    text-transform: none;
}
.dotRed:after {
    content: ".";
    color: rgb(250, 92, 101);
}
.buttonRead {
    background-color: rgb(250, 92, 101);
    color: white;
    border-radius: 7px;
    width: 171px;
    height: 64px;
    border: 0;
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 15px;
    line-height: 48px;
}
.buttonRead:hover {
    background-color: #eff2f4;
    color: #314a5b;
    border: #314a5b solid 2px; 
}

/* SECTION UNDER-HEADER*/

.advantages {
	padding: 4.6vw 0 3.1vw;
}
@media (max-width : 768px)  {
	.advantages {
		padding: 40px 0 0;
	}	
}
.advantages__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media (max-width : 768px)  {
	.advantages__body {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}	
}
.advantages__item {
	-ms-flex-preferred-size: 33.33%;
	flex-basis: 33.33%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-right: 40px;
}
@media (max-width : 768px)  {
	.advantages__item  {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
	}	
}
.advantages__item:last-child {
	margin-right: 0;
}
.moreUnderHeader {
	margin-top: auto;
}
.advantages__item h2 {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 26px;
    line-height: 26px;
    text-transform: uppercase;
    color: rgb(70, 80, 101);
	margin-bottom: 20px;
}
.advantages__item p {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 15px;
    color: rgb(154, 160, 171);
    line-height: 1.467;
	margin-bottom: 30px;
}
.more span {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fa5c65;
    font-weight: 900;
}
.more span:after {
    content: url(image/Arrow.png);  
}
.more span:hover {
    color: rgb(70, 80, 101);
	cursor: pointer;
}
.more span:hover:after {
    content: url(image/arrowBlack.png);
}

/*SECTION PORTFOLIO*/

.portfolio {
	width: 100%;
}
.allContentPortfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
@media (max-width : 768px)  {
	.allContentPortfolio {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}	
}
.titlePortfolio {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color:  rgb(49, 74, 91);
	margin-bottom: 10px;
}
.allTextPortfolio {
	margin-left: 2vw;
	max-width: 380px;
	margin-top: -30px;
}
@media (max-width : 768px)  {
	.allTextPortfolio {
		max-width: 100%;
	}	
}
.pUnderTitle{
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(49, 74, 91);
    margin-bottom: 30px;
}
.pPortfolio {
   font-family: "OpenSans-Regular", sans-serif;
    font-size: 15px;
    color: rgb(154, 160, 171); 
    line-height: 1.467;
    margin-bottom: 30px;  
}
@media (max-width : 768px)  {
	.picturePortfolio img {
		max-width: 100%;
	}	
}

/*OUR TEAM*/

.ourTeam {
	padding-top: 30px;
}
.team__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	align-items: center;
	justify-content: space-between;
}
@media (max-width : 768px)  {
	.team__body {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}	
}
.team__item {
	flex-basis: 33.33%;
	margin-right: 10px;
	margin-bottom: 30px;
}
@media (max-width : 768px)  {
	.team__item {
		flex-basis: 100%;
	}	
}
.team__item:last-child {
	margin-right: 0;
	margin-bottom: 0;
}
.contentAboutBoys {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	align-items: center;
}
.titleOurTeam {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 32px;
    color: rgb(49, 74, 91);
    line-height: 53px;
    font-weight: normal;
    text-transform: uppercase;
}
.underTitleOurTeam {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 16px;
    color: rgb(154, 160, 171);
    line-height: 20px;
    margin-bottom: 40px;
}
.textAboutBoys {
	margin-left: 10px;
}
.nameBoys {
    font-family: "Montserrat-Bold", sans-serif;
    color: rgb(49, 74, 91);
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
}
.jobBoys {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 14px;
    color: rgb(240, 69, 76);
    line-height: 20px;
}
.hobbyBoys {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 14px;
    color: rgb(154, 160, 171);
    line-height: 20px;
    padding-top: 5%;
}
.moreOurTeam {
    margin-top: 4%;
    margin-bottom: 30px;
}
.moreOurTeam p {
    text-align: right;  
}

/*FOOTER*/


.allFooter {
    padding-bottom: 1%;
}
.contentFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: solid 1px rgb(185, 192, 198);
}
@media (max-width : 360px)  {
	.contentFooter {
		flex-wrap: wrap;
		padding-top: 30px;
	}	
}
.allFooterSocialIcons {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.allFooterSocialIcons a {
	margin-right: 30px;
}
@media (max-width : 768px)  {
	.allFooterSocialIcons a {
		margin-right: 10px;
	}	
}
.copyRight {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.textCopyRight {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 13px;
    color: rgb(185, 192, 198);
    line-height: 60px; 
    text-align: right;
}




