*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfloat:after {
    content: "";
    display: block;
    clear: both;
}
#allWithoutHeader {
    margin: 0 15%;
}

/*HEADER*/

header {
    background-image: url("image/fotoHeader.png");
    width: 100%;
    height: 1057px;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    min-width: 830px;
}
.logoAndNav {
    padding-left: 15%;
}
.navAndSocialIcon { 
    float: right;
    display: table;
    padding-right: 15%;
}
.logo {
    background-color: rgb(250, 92, 101);
    width: 140px;
    height: 75px;
    color: white;
    font-family:  "Domine-Bold", serif;
    font-size: 20px;
    font-weight: bold; 
    text-align: center;
    border-radius: 0 0 7px 7px;
    display: table;
    float: left;
  }   
.frilancer {
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 15px;
}
.dotLogo:after {
    content: ".";
    color: #74505e;
}
.dotRed:after {
    content: ".";
    color: rgb(250, 92, 101);
}
nav {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 85px;  
    display: table-cell;
    vertical-align: bottom;
}
nav ul {
    list-style: none;
}
nav li {
    display: inline;    
}

nav ul li a:link, nav ul li a:visited {
    color: rgb(38, 55, 66);
    line-height: 6px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 10px;
        
}
nav ul li a:hover {
    color: white;
    font-weight: bold;
    background-color: #fa5c65;
    border-radius: 7px;
}

.SocialIcon {
    line-height: 85px;
    padding: 0 15px;
    display: table-cell;
}

.SocialIconFacebook {
    padding: 0 15px;
}
.nameSite {
   font-family: "Montserrat-Bold", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #314a5b;
    padding: 300px 0 0 15%;
}
.nameSite p {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 18px;
    line-height: 40px;
    margin: 10px 0 30px 0;
    text-transform: none;
}
    
.buttonRead {
    background-color: rgb(250, 92, 101);
    color: white;
    border-radius: 7px;
    width: 171px;
    height: 64px;
    border: 0;
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 15px;
    line-height: 48px;
}

.buttonRead:hover {
    background-color: #eff2f4;
    color: #314a5b;
    border: #314a5b solid 2px; 
}
/* SECTION UNDER-HEADER*/

.allArticleUnderHeader {
    display: table-row;    
}

.columnUnderHeader {
    display: table-cell;
    width: 30%;
    padding-right: 7%;
}

.columnUnderHeader h2 {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 26px;
    line-height: 26px;
    text-transform: uppercase;
    color: rgb(70, 80, 101);
    padding: 15% 0 5% 0;
}

.columnUnderHeader p {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 15px;
    color: rgb(154, 160, 171);
    line-height: 1.467;
    padding-bottom: 5%;       
}
#noPadding {
    padding: 0 0 5% 0;
}

#noPaddingBottom {
    padding-bottom: 0;
}
.more span{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fa5c65;
    font-weight: 900;
       
}
.moreUnderHeader {
    padding-bottom: 15%; 
}

.more span:after {
    content: url(image/Arrow.png);  
}
.more span:hover {
    color: rgb(70, 80, 101);
}

.more span:hover:after {
    content: url(image/arrowBlack.png);
}

/*SECTION PORTFOLIO*/

.titlePortfolio {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color:  rgb(49, 74, 91);
    padding-bottom: 3%;
}

.pUnderTitle{
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(49, 74, 91);
    padding-bottom: 5%;
}
.pPortfolio {
   font-family: "OpenSans-Regular", sans-serif;
    font-size: 15px;
    color: rgb(154, 160, 171); 
    line-height: 1.467;
    padding-bottom: 5%;
    
}
.portfolio {
    display: table;
}
.allContentPortfolio {
    display: table-row;
    vertical-align: top;
}

.picturePortfolio {
    display: table-cell;
    vertical-align: top;
    
}

.allTextPortfolio {
    display: table-cell;
    vertical-align: top;
    padding-top: 5%;
    padding-right: 20%;
    padding-left: 5%;
    
}

/*SECTION OUR_TEAM*/
/*.ourTeam {
    min-width: 830px;
}*/
/*.titleOurTeam {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 32px;
    color: rgb(49, 74, 91);
    line-height: 53px;
    font-weight: normal;
    text-transform: uppercase;
}
.underTitleOurTeam {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 16px;
    color: rgb(154, 160, 171);
    line-height: 20px;
}
.mainOurTeam {
    display: table;
}
.allBoys {
    display: table-row;
    }
.everyBoys {
    display: table-cell;
    vertical-align: top;
}

.contentAboutBoys {
    display: table;
    
}
.rowContentAboutBoys {
   display: table-row; 
}
.fotoBoys {
    display: table-cell;
    vertical-align: top;
}
.textAboutBoys {
    display: table-cell;
    padding: 0 5%;
    vertical-align: top;
}

.nameBoys {
    font-family: "Montserrat-Bold", sans-serif;
    color: rgb(49, 74, 91);
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
}
.jobBoys {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 14px;
    color: rgb(240, 69, 76);
    line-height: 20px;
}
.hobbyBoys {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 14px;
    color: rgb(154, 160, 171);
    line-height: 20px;
    padding-top: 5%;
}
.moreOurTeam {
    margin-top: 4%;
    margin-bottom: 7%;
}
.moreOurTeam p {
    text-align: right;  
}*/
/*OUR TEAM variant 2*/
.ourTeam {
    display: flex;
    flex-direction: column;
    
}
.allBoys {
    display: flex;
}
.contentAboutBoys {
    display: flex;
}
.titleOurTeam {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 32px;
    color: rgb(49, 74, 91);
    line-height: 53px;
    font-weight: normal;
    text-transform: uppercase;
}
.underTitleOurTeam {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 16px;
    color: rgb(154, 160, 171);
    line-height: 20px;
    margin-bottom: 5%;
}
.textAboutBoys {
    padding: 0 5%;
    vertical-align: top;
}
.nameBoys {
    font-family: "Montserrat-Bold", sans-serif;
    color: rgb(49, 74, 91);
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
}
.jobBoys {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 14px;
    color: rgb(240, 69, 76);
    line-height: 20px;
}
.hobbyBoys {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 14px;
    color: rgb(154, 160, 171);
    line-height: 20px;
    padding-top: 5%;
}
.moreOurTeam {
    margin-top: 4%;
    margin-bottom: 7%;
}
.moreOurTeam p {
    text-align: right;  
}
/*FOOTER*/
/*vaiant 1*/
/*.textCopyRight {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 13px;
    color: rgb(185, 192, 198);
    line-height: 60px; 
}
.footerSocialIcons {
    margin-right: 5%;
}
.allFooter {
    display: table;
    width: 70%;
    margin: 0 15% 0 15%;
    border-top: solid 1px rgb(185, 192, 198);
}

.contentFooter {
    display: table-row;
}
.allFooterSocialIcons {
    display: table-cell;
}

.copyRight {
    display: table-cell;
    text-align: right;
    
}*/

/*vaiant 2*/


.allFooter {
    padding-bottom: 1%;
}
.contentFooter {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px rgb(185, 192, 198);
}
.allFooterSocialIcons {
    align-items: center;
    display: flex;
    flex-basis: 20%;
}
.footerSocialIcons {
    align-items: center;
    margin-right: 10%;
    
}
.copyRight {
    align-items: center;
    flex-basis: 80%;
}
.textCopyRight {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 13px;
    color: rgb(185, 192, 198);
    line-height: 60px; 
    text-align: right;
}




